<div class="container-fluid d-flex">
  <div class="card-holder">
    <div class="card shadow">
      <div class="card-body">
        <form>
          <div class="mb-3">
            <h4 class="h1 text-center heading">Totindeli bino</h4>
          </div>
          <div class="mb-3">
            <p class="h5 sent-msg">
              Totindeli bino singa na email oyo bo s'abonaki na yango. Tosengi
              bo kende na address email na bino mpe bo fina yango.
            </p>
          </div>
          <div class="mb-3">
            <h4 class="text-center"><a routerLink="/login">Zonga</a></h4>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
