<div class="bg-filler">
  <div class="login-bg">
    <div class="heading">
      <h1>Obosani Mot de passe na yo?</h1>
    </div>
    <div class="row">
      <div class="col">
        <div>
          <h4>Koma email na yo mpe toko tindela yo message</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form class="login-form" action="/login" method="post">
          <div class="mb-3 m-4">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Koma email na yo awa"
              name="email"
              [(ngModel)]="email"
            />
          </div>
          <div class="mb-3 form-check m-4">
            <button (click)="onForgotPassword()" class="custom-btn">
              Tinda
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="sign-up-link d-flex justify-content-center m-4">
      <span>Oyebi mot de passe na yo?</span
      ><a class="reg-link" routerLink="/landing">Zonga</a>
    </div>
  </div>
</div>
