.wel-pg {
  h1 {
    color: #eee;
  }
  h6 {
    color: #eee;
  }
  .custom-btn {
    border: none;
    background: #055216;
    padding: 12px 30px;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    transition: 0.4s;
  }

  .custom-btn:hover {
    transform: scale(1.2);
  }

  > div {
    margin: 20px 0 0 20px;
  }
  @media only screen and (max-width: 600px) {
  }
}

.img-gallery {
  ul li {
    list-style-type: none;
  }
}
