.heading {
  p {
    text-align: center;
    color: #d5ac2a;
    letter-spacing: 2px;
  }
}

.body-text {
  p {
    color: #eee;
    letter-spacing: 1px;
    line-height: 30px;
    padding: 10px;
  }
}
