<!-- <div class="container">
  <div class="card-bg">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div *ngFor="let video of videosListData" class="col">
        <div class="card">
          <a routerLink="/videos/{{ video.id }}">
            <fa-icon
              [icon]="icons.faPlayCircle"
              class="fa-icon play-icon"
            ></fa-icon>
          </a>
          <img
            width="100%"
            height="300"
            src="{{ video.thumbnailUrl }}"
            class="thumbnail"
            alt="..."
          />
          <div class="card-body">
            <div class="d-flex bd-highlight">
              <h5 class="card-title flex-grow-1">{{ video.title }}</h5>
              <ul>
                <li>
                  <fa-icon
                    [icon]="icons.faStar"
                    class="fs-icon-star m-1"
                  ></fa-icon>
                  <fa-icon
                    [icon]="icons.faStar"
                    class="fs-icon-star m-1"
                  ></fa-icon>
                  <fa-icon
                    [icon]="icons.faStar"
                    class="fs-icon-star m-1"
                  ></fa-icon>
                  <fa-icon
                    [icon]="icons.faStar"
                    class="fs-icon-star m-1"
                  ></fa-icon>
                </li>
              </ul>
            </div>
            <p class="card-text">{{ video.description }}</p>
          </div>
          <a href="{{ video.videoUrl }}" class="play-icon"
            ><i class="fa fa-play" aria-hidden="true"></i
          ></a>
          <script></script>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="card-bg m-4">
  <div class="row row-cols-1 row-cols-lg-2 g-4">
    <div *ngFor="let video of videosListData" class="col-sm-2">
      <button class="card">
        <a class="play-icon" routerLink="/videos/{{ video.id }}">
          <fa-icon [icon]="icons.faPlayCircle" class="fa-icon"></fa-icon>
        </a>
        <img
          width="100%"
          height="300"
          src="{{ video.thumbnailUrl }}"
          class="thumbnail"
          alt="..."
        />
        <div class="card-body container mt-3">
          <div class="d-flex flex-column details-holder">
            <div class="d-flex justify-content-between">
              <div class="flex-grow-1">
                <h5 class="card-title">{{ video.title }}</h5>
              </div>
              <div>
                <button
                  type="button"
                  class="custom-btn"
                  (click)="hideDescription()"
                  *ngIf="descriptionVisible === video.id"
                >
                  Bomba
                </button>
                <button
                  type="button"
                  class="custom-btn"
                  (click)="showDescription(video.id)"
                  *ngIf="descriptionVisible !== video.id"
                >
                  Monisa
                </button>
              </div>
            </div>
            <div class="ratings text-center">
              <ul>
                <li *ngFor="let rating of getVideoRatings(video)">
                  <fa-icon
                    [icon]="icons.faStar"
                    class="fs-icon-star m-1"
                  ></fa-icon>
                </li>
              </ul>
            </div>
            <div *ngIf="descriptionVisible === video.id" id="{{ video.id }}">
              <p class="card-text">{{ video.description }}</p>
            </div>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
