<div class="container d-flex flex-column">
  <div *ngFor="let o of [1, 2]" class="videos-list m-4">
    <p class="h1 videos-title">Ba Video ya Sika</p>
    <div class="media-scroller">
      <div class="media-element" *ngFor="let i of videosListData">
        <div *ngIf="descriptionVisible !== i.id">
          <div class="counter">
            <span
              ><a routerLink="/videos/{{ i.id }}">
                <fa-icon [icon]="icons.faPlayCircle"></fa-icon> </a
            ></span>
            <img [src]="i.thumbnailUrl" />
          </div>
          <p class="h4 text-title">{{ i.title }}</p>
          <div class="d-flex actions">
            <a class="m-1" (click)="showDescription(i.id)" mat-button>Tanga</a>
            <a routerLink="/videos/{{ i.id }}" class="m-1" mat-button>Landa</a>
          </div>
        </div>
        <div *ngIf="descriptionVisible === i.id" class="media-details">
          <p class="h4">{{ i.title }}</p>
          <p class="h6">{{ i.description }}</p>
          <button class="m-1" (click)="hideDescription()" mat-button>
            <fa-icon [icon]="icons.faArrowLeft"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
