.nav-bar {
  margin: 20px;
  a {
    text-decoration: none;
  }
  .logo {
    color: #fff;
    font-size: 28px;
    span {
      color: #055216;
    }
  }
  ul {
    display: inline-flex;
  }
  ul li {
    list-style-type: none;
  }
  ul li a {
    text-decoration: none;
    color: #eee;
    transition: 0.3s;
    text-transform: capitalize;
    letter-spacing: 1.4px;
    padding: 4px;
    cursor: pointer;
  }
  ul li a:hover {
    color: #055216;
  }
  .active-nav-item {
    color: #d5ac2a !important;
    border-bottom: #055216 solid 2px;
  }
  @media only screen and (max-width: 600px) {
  }
}
